.pref-tag-search-wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }
.tag-search {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
/*     justify-content: center;
    align-items: center; */
    /* background-color: #007bff; */
    background-color: #B2D9F0;
  
  }

  .card-title {
    
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    margin: 8px;
    
  }

  .row-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    background-color: transparent;
  }
  .search-container {
    display: flex;
    flex-direction: row;

    align-items: stretch;
    justify-self: center;
    
    color: transparent;
  }
  
  .add-filters-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
    background-color: transparent;
  }

  .button {
    background-color: #007bff;
    
    color: white;
    margin: 8px;
    
}
  

  .selected-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    background-color: transparent;
  }
  
  .tag {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px; /* verctical, horizontal */
    margin: 5px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
  }
  
  /* need to use 'svg' to target the svg icon from fontawesome */
  .tag svg {
    margin-left: 8px;
    cursor: pointer;
    background-color: transparent;
  }
  

/*   .custom-select .react-select__control {
    background-color: #B2D9F0;
    border: none;
    box-shadow: none;
  }
  
  .custom-select .react-select__control--is-focused {
    background-color: #E5F2F7;
    border: none;
    box-shadow: none;
  }
  
  .custom-select .react-select__single-value {
    color: black;
  }
  
  .custom-select .react-select__input input {
    color: black;
  }
  
  .custom-select .react-select__menu {
    background-color: white;
  }
  
  .custom-select .react-select__option {
    color: black;
  }
  
  .custom-select .react-select__option--is-selected {
    background-color: #B2D9F0;
  }
 */
  
  